body {
  margin: 0;
  width:100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header{
  border:1px solid red;
  display:flex;
  justify-content: space-around;
  height: 6rem;
}
ul{
  display:flex;
  gap: 3rem;
  height:3rem;
  align-items: center;
  margin:auto 0px ;
}
li{
  font-size: 1.2rem;
  font-weight: 500;
}

#Logo{
  display:flex;
  align-items: center;
  height:3rem;
  margin:auto 0px;
}

 #light-mode-div {
  display: flex;
  justify-content: center;
  height:30px;
  margin: auto 0px auto 0px
}

#light-mode {
  border:1px solid black;
  background-color: white;
  font-size: 1.3rem;
}

#light-mode:hover {
  text-decoration: underline;
  cursor: pointer;
} 

.img-slider-div {
  object-fit: cover;
  width:100%;
  height:100%;
  display:block;
}